[submodule "third_party/Deformable-DETR"]
	path = third_party/Deformable-DETR
	url = git@github.com:jackhhao/Deformable-DETR.git
[submodule "third_party/CenterNet2"]
	path = third_party/CenterNet2
	url = git@github.com:jackhhao/CenterNet2.git
